<p>add-update-payments works!</p>
<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Payment Rule</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="paymentRule"
        placeholder="Enter Payment Rule">
    </div>
    <!-- <label class="col-sm-2 col-form-label">createdDate</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="phoneNo"
        placeholder="Enter Role">
    </div> -->
    <label class="col-sm-2 col-form-label">DesignationName</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="designationName"
        placeholder="Enter Designation Name">
    </div>
    </div>
    <button (click)="addPayment()" *ngIf="payment.id==0" class="btn btn-primary">
     Add
    </button>
    <button (click)="updatePayment()" *ngIf="payment.id!=0" class="btn btn-primary">
        Update
       </button>


